#logo{
    height: 72px;
    width: 170px;
    margin-top: -17px;
    margin-left: 0px;
}

.navbar{
    background-color: #5bc0de;
    position: relative;
    height: 70px;
    margin-bottom: 0px;
}

.nav.navbar-nav.navbar-left li a {
    color: white;
    height: 70px;
    padding-top: 25px;
    
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    height: 70px;
    padding-top: 25px;
    
}

.nav.navbar-nav.navbar-left li a:hover{
    background-color: #a6e1ec;
}

.nav.navbar-nav.navbar-right li a:hover{
    background-color: #a6e1ec;
}

.dropdown-menu{
    background-color: #5bc0de;
}

#myCarousel{
    height: 600px;
}

.carousel-inner{
    height: 600px;
}

.carousel-inner > .item > img {
  width:100%;
  height:600px;
}

.usluge{
    margin-top: -20px;
    background-color: #5bc0de;
    text-align: center;
}

.usluge > h2{
    color: white;
    font-weight: 900;
}

.usluge:after{
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    margin: 10px auto 0;
    background-color: transparent;
    border-width: 1px 0;
    border-style: solid;
    border-color: white;
}

.section > .container > .row > .image-size > img{
    width: 250px;
    height: 250px;
}

.pocetna-usluge{
    margin-top: -50px;
    text-align: justify;
}

.pocetna-usluge > h2{
    text-align: center;
    font-weight: 900;
    margin-top: 50px;
}

.pocetna-usluge > h2:after{
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    margin: 10px auto 0;
    background-color: transparent;
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
}

.reservation-part{
    background-image: url('../images/ordinacija.jpg');
    height: 500px;
}

.reservation-part > .container-fluid > .row{
    margin: 200px;
}

.image-header > h2{
    background-color: #5bc0de;
    color: white;
    padding: 20px 20px 20px 20px;
    font-weight: 900;
    text-align: center;
}

.btn-header > button{
    height: 75px;
    margin-top: 20px;
    margin-left: 150px;
    border-radius: 0;
    font-weight: 900;
}

.footer{
    margin-top: -20px;
    background-color: #5bc0de;
}

.h2-color{
    color: white;
}

.h2-color > p{
    font-size: 18px;
}

.btn-klasa> button{
    float: right;
    margin-top: 150px;
    margin-right: 5px;
    border-radius: 0px;
    width: 50px;
    background: white;
}

#map {
    height: 400px;
    width: 100%;
}

.form-klasa{
    margin-top: 20px;
}

.form-klasa > button{
    width: 100%;
}

.img-usluge{
    background-image: url('../images/slider1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

.text-color{
    color: black;
}

.usluge-ponuda{
    margin-top: 50px;
}

.feature{
    text-align: center;
}

.feature .feature-icon{
    width: 120px;
    line-height: 100px;
    font-size: 42px;
    color: white;
    margin: 0 auto 20px;
    background-color: #5bc0de;
    border-radius: 50%;
    position: relative;
    -webkit-transform: rotate(0) scale(1);
        -ms-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    -webkit-transition: color 0.3s, border-color 0.3s, background-color 0.3s, -webkit-transform 0.3s;
            transition: color 0.3s, border-color 0.3s, background-color 0.3s, transform 0.3s;
}

.feature .feature-title{
    display: block;
    font-family: "Oswald";
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #5bc0de;
    margin-bottom: 10px;
}

.feature > p{
    text-align: justify; 
}

.feature:hover .feature-icon{
    color: #5bc0de;
    border-color: #5bc0de;
    background-color: transparent;
    -webkit-transform: rotate(360deg) scale(1.8);
      -ms-transform: rotate(360deg) scale(1.8);
          transform: rotate(360deg) scale(1.8);
}

.rez-termina{
    background-color: #ebebeb;
    text-align: center;
    color: gray;
}

.kalendar{
    background: url('../images/mutna.jpg');
}

.modal-header{
    background-color: #5bc0de;
    text-align: left;
    color: white;
}

.ui-datepicker{
    position: relative;
    z-index: 10000 !important;
}

.container-fluid > .panel > .panel-success > .panel-footer{
    background-color: #5bc0de;
}

#choose-service {
    border-radius: 95%;
}

#title-pregled {
    margin-top: 0px;
    height: 80px;
    background-color: #cccccc;
    text-align: center;
    color: white;
    line-height: 3;
}

.box {
    width:700px;
    height:300px;
    background-color:#5bc0de;
    margin: auto;  
    color: white; 
}

table, th, td {
    border: 1px solid black;
    text-align: left;
}

.buttonAll {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
}

.buttonDay {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    height: 40px;
}

.buttonWeek {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    height: 40px;
}

.buttons-grouping {
    text-align: center;
}
